altgraph==0.17
auto-py-to-exe==2.6.6
beautifulsoup4==4.8.2
bottle==0.12.18
bottle-websocket==0.2.9
browser-cookie3==0.11.0
bs4==0.0.1
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Eel==0.11.0
entrypoints==0.3
future==0.18.2
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
idna==2.9
keyring==11.1.0
lxml==4.6.5
lz4==3.0.2
pbkdf2==1.3
pefile==2019.4.18
pyaes==1.6.1
pycparser==2.20
pycryptodome==3.9.7
PyInstaller==3.6
pywin32==227
pywin32-ctypes==0.2.0
requests==2.23.0
soupsieve==2.0
urllib3==1.25.8
whichcraft==0.6.1
